<style>
    #abt{
       
        height: 15cm;
        vertical-align: top;
        opacity: .9;
        padding: 4em 10em;
        text-align: justify;
        background-color: white;
        margin: 4em 0;

    }
    #abtus{
        color: #82748e;
        font-size: 4em;
    }
    .abt{
        color:black;
        font-size: 20px;
    }
</style>
<div id="abt">


   <strong><h1 id="abtus">About EMPNEO 2.0</h1></strong>
    <p class="abt">The IEEE Student Branch of Govt. Model
            Engineering College(MEC), in association with
            IEEE Women in Engineering(WIE), presents
            EMPNEO 2.0, a two-day state level program
            for school students. Session 1 A Do-It-Yourself telescope makes an excellent
            and inexpensive project for science fairs
            paving way to inspire kids for an even deeper
            study of stars. The workshop will by guided by
            Mr. Vidhyadharan- A mentor at Kerala Sastra
            Sahithya Parishad (KSSP) & former employee
            at TELK.
            With technology gaining importance in the
            various domains of life, the need to imbibe
            technical skills among students , together with
            holistic development is of prime importance.
            EMPNEO 2.0 aims to provide young minds , a
            platform to exhibit their ideas , explore hidden
            potentials, get inspired and rightly channelise
            their future.</p>
</div>
