<style> 
#download{
    background: linear-gradient(#31294d, #e4ddff);
    color: white;
    text-align: left;
}
h1{
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
p{
    font-size: 1.3em;
}
.contact{
    width: 50%;
    float: left;
    padding-left: 3.5em;
    }
    #ind{
        margin-top:-1cm;
        
    }
</style>
<section id="download" >
    <div class="container">
        
            <h1  style="font-size:3.5em;text-align: center;">CONTACT US</h1><br>
            <div class="col-sm-6" >
               <h3 style="font-family: bold;">EMPNEO COORDINATOR</h3>
               <h3>Alfia Rehman</h3><p>MOB  :8301861220 <br>EMAIL:alfiarehman.mec@gmail.com</p>
              <h3>Sreehari A S</h3><p>MOB  :9496072200 <br>EMAIL:sreeharias.mec@gmail.com</p>

             </div>
             <br><br>
             <div class="col-sm-6" id="ind">
                <h3 style="font-family: bold;">INDRIYA COORDINATOR</h3>
                <h3>Amal K Ajay</h3><p>MOB  :9567513789 <br>EMAIL:amalkajay.mec@gmail.com</p>
             </div>
       
    </div>
</section>
