<style>
    .ind{
        background-color:lightyellow;
        vertical-align: top;
    }
    #text{
        font-family: 'Times New Roman', Times, serif;
        font-size:3em;
    }
    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:1.5em;
    }
</style>


<div class="row ind">
    <div class="col-sm-8 col-sm-push-2">

    <br><br>
    <h2>INDRIYA -  <span style="background-color: orange">THE SCIENCE FARE </span></h2>
        <br> <br>
    <p> <strong>INDRIYA</strong> invites abstracts from schools all over
        the state. The best 20 abstracts will be select-
        ed and the teams will be intimated via the
        respective school authorities. These teams
        shall be assigned mentors to guide and
        support them if needed. INDRIYA is a team
        event and the maximum number of partici-
        pants allowed in a team is 5. Empneo 2.0 regis-
        tration is not compulsory to participate in the
        Science Fair and quiz.</p>
        
     <p id="text">    Prizes worth :<strong>10k 
        will be awarded to the best projects.</strong></p>

    <h3><span style="background-color: orange">ELIGIBILITY</span></h3>

    <p>9th,10th 11th and 12th grade students from
            schools all over Kerala are eligible to participate in the event. EMPNEO 2.0 registration is
            not compulsory to take part in INDRIYA - The
            Science Fair and quiz.</p>
    </div>
            
</div>