<style>
        #mainNav{
            background-color:#68918e;
        }
        .pagescroll{
            color: aliceblue;
        }
        .pagescroll:hover{
            color: aliceblue;
        }
    </style>
   
   <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#mynavbar" >
                <!-- <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i></button> -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="/"><strong>EMPNEO 2.0</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mynavbar">
       

            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a class="page-scroll" href="/"><strong>Home</strong></a>
                </li>
                <li>
                    <a class="page-scroll" href="/indriya"><strong>Indriya</strong></a>
                </li>
                <li>
                    <a class="page-scroll" href="/alchemy"><strong>Alchemy</strong></a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact"><strong>Contact</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
