<style>
    #mainNav{
        background-color: #68918e;
        height: 1.8cm;
        padding-top: 10px;
    }
    .pagescroll{
        color: aliceblue;
    }
    .pagescroll:hover{
        color: aliceblue;
    }
</style>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#mynavbar" >
                <!-- <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i></button> -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="/" style="font-size: 27px ;font-weight:600;">EMPNEO 2.0</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mynavbar">
       

            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a class="page-scroll" href="/">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#abt">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="/indriya">Indriya</a>
                </li>
                <li>
                    <a class="page-scroll" href="/alchemy">Alchemy</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
