<style>
    #talks{
        background-color: #d6cee8;
    }
</style>
<section id="talks">
    <div class="container">
        <h1 style="text-align: center;"><strong style="color: #5d567b;">TALKS</strong></h1>
        <br>

        <div class="col-sm-4">
            <img src="#" alt="" id="ima">
            <h3 style="color:#5d567b;"><strong>KIRAN MOHAN</strong></h3>
                <br>
                <p>
                    Kiran Mohan is a mechanical Engineer, with a
penchant for giving lessons on astronomy for
school children. A Scientist at Liquid Propulsion
Systems Centre (LPSC), valiyamala, which is
part of ISRO, his expertise spans over a vast
number of technologies - Aerodynamics, Fluid
Mechanics, Turbulence and many others.
                </p>
        </div>
        
        <div class="col-sm-4">
            <img src="#" alt="" id="ima">
            <h3 style="color: #5d567b;"><strong>Prof Babu Sankar</strong></h3>
                <br>
                <p>
                    Prof.Babu Sanker is an assistant professor in
the department of mechanical engineering in
St joseph’s college of Engineering and Technol-
ogy. He has held over 350+ workshops in
various prestigious institutes of India,In IIT
Mumbai, IIT Karagpur.He has also passionately undertaken trainings
in various other aspects of life including life
skills, multiple intelligence , faculty development and so on.

                </p>
        </div>

    <div class="col-sm-4">
        <img src="#" alt="" id="ima">
        <h3 style="color:#5d567b;"><strong>LED MAKING WORKSHOP</strong></h3>
            <br>
            <p>
                Lorem, ipsum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex corrupti deserunt magni nemo amet ipsum cum error, hic quos officiis ea tenetur tempora ratione eos deleniti repellat obcaecati architecto illo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deserunt perspiciatis ea ducimus! Saepe, sapiente?

            </p>
    </div>
    </div>
</section>
