<style>
    #talks{
        background-color: #e4ddff;
    }
    .col-sm-4{
        width: 50%;
    }

    img {
        border-radius: 4px;
        
    }
    
</style>

<section id="talks">
    <div class="container">
        <h1 style="text-align: center;"><strong style="color: tomato;">TALKS</strong></h1>
        <br>
        
        <div class="row">
		
	<div class="col-md-4">
	<img src="/img/mg-rajamanikyam-ias.jpeg" alt="MG Rajamanickam IAS" id="ima">
	 <h3 style="color:tomato;"><strong>MG Rajamanickam</strong></h3>
                <br>
                <p style="font-size: 18px;">
					MG Rajamanickam IAS,the Civil Service officer from Madurai,is probably the most famous amongst the district collectors
					of Ernakulam district.A huminitarian by nature,he is known for his down to earth initiatives,readiness to roll up his sleeves
					and for not being carried away by mere accolades.Before he got transferred from the position of Managing Director of KSRTC,
					he did a bunch of fruitful efforts to save the cash-strapped Corporation.A man of grit,who marked his name,he is definitely 
					a person for students to look upto.
					</p>
					</div>
        <div class="col-md-4">
            <img src="/img/Kiran Mohan.jpg" alt="Kiran Mohan" id="ima">
            <h3 style="color:tomato;"><strong>KIRAN MOHAN</strong></h3>
                <br>
                <p style="font-size: 18px;">
                    Kiran Mohan is a mechanical Engineer, with a
penchant for giving lessons on astronomy for
school children. A Scientist at Liquid Propulsion
Systems Centre (LPSC), valiyamala, which is
part of ISRO, his expertise spans over a vast
number of technologies - Aerodynamics, Fluid
Mechanics, Turbulence and many others.
                </p>
        </div>
        
        <div class="col-md-4">
            <img src="/img/Babu T Shankar.jpeg" alt="Babu Shankar" id="ima">
            <h3 style="color: tomato;"><strong>Prof Babu Sankar</strong></h3>
                <br>
                <p style="font-size: 18px;">
                    Prof.Babu Sanker is an assistant professor in
the department of mechanical engineering in
St joseph’s college of Engineering and Technol-
ogy. He has held over 350+ workshops in
various prestigious institutes of India,In IIT
Mumbai, IIT Karagpur.He has also passionately undertaken trainings
in various other aspects of life including life
skills, multiple intelligence , faculty development and so on.

                </p>
        </div>
</div>
  <!--  <div class="col-sm-4">
        <img src="#" alt="" id="ima">
        <h3 style="color:tomato;"><strong>LED MAKING WORKSHOP</strong></h3>
            <br>
            <p style="font-size: 18px;">
                Lorem, ipsum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex corrupti deserunt magni nemo amet ipsum cum error, hic quos officiis ea tenetur tempora ratione eos deleniti repellat obcaecati architecto illo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deserunt perspiciatis ea ducimus! Saepe, sapiente?

            </p>
    </div>-->
    </div>
</section>
