<style>

    #ima{
        width:100%;
        height: 400px;
    }


</style>



<section id="workshop">
    <div class="container">
        <h1 style="text-align: center;"><strong>WORKSHOP</strong></h1>
        <br>

        <div class="col-sm-6">
            <img src="/img/led.jpg" alt="" id="ima">
            <h3 style="color: black;"><strong>LED MAKING WORKSHOP</strong></h3>
                <br>
                <p>
                    Lorem, ipsum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex corrupti deserunt magni nemo amet ipsum cum error, hic quos officiis ea tenetur tempora ratione eos deleniti repellat obcaecati architecto illo!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deserunt perspiciatis ea ducimus! Saepe, sapiente?

                </p>
        </div>
        <div class="col-sm-6">
            <img src="/img/telescope.jpg" alt="" id="ima">
            <h3 style="color: black;"><strong> Telescope Making workshop</strong></h3>
                <br>
                <p>
                    Lorem, ipsum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex corrupti deserunt magni nemo amet ipsum cum error, hic quos officiis ea tenetur tempora ratione eos deleniti repellat obcaecati architecto illo!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deserunt perspiciatis ea ducimus! Saepe, sapiente?

                </p>
        </div>
    </div>

</section>