<style>

    #ima{
        width:100%;
        height: 400px;
    }

    p{
        font-size: 2em;
    }
    
    #workshop{
        background-color: white;
    }

</style>



<section id="workshop">
    <div class="container">
        <h1 style="text-align: center;"><strong style="color:#8047ff;">WORKSHOP</strong></h1>
        <br>

        <div class="col-sm-6">
            <img src="/img/led.jpg" alt="" id="ima">
            <h3 style="color:#8047ff;"><strong>LED MAKING WORKSHOP</strong></h3>
                <br>
                <p style="font-size: 18px;">
                    The workshop aims to familarize students with
                    basic electronics components combined with
                    LED circuit assembling conducted by Mr.
                    Mahesh -Electronics & Communications Eng.
                    Proffesor at Govt. Model Eng. College.
                </p>
        </div>
        <div class="col-sm-6">
            <img src="/img/telescope.jpg" alt="" id="ima">
            <h3 style="color: #8047ff;"><strong> Telescope Making workshop</strong></h3>
                <br>
                <p style="font-size: 18px;">
                    A Do-It-Yourself telescope makes an excellent
and inexpensive project for science fairs
paving way to inspire kids for an even deeper
study of stars. The workshop will by guided by
Mr. Vidhyadharan- A mentor at Kerala Sastra
Sahithya Parishad (KSSP) & former employee
at TELK.
                </p>
        </div>
    </div>

</section>