<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include nav.html %}
<body id="page-top">
    <br>
    <br>
  <br>
  <style>
      .ind{
          background-color:#ddfff7;
          vertical-align: top;
      }
     
      p {
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size:1.5em;
      }
  </style>

  <div class="row ind">
      <div class="col-sm-8 col-sm-push-2">
  
      <br><br>
      <h2>ALCHEMY-  <span style="background-color: #44aa92">QUIZ </span></h2>
          <br> <br>
      
<p>Alchemy is a general quiz for school students
    of same school or otherwise, in the
    science-tech flavour which comprise two
    sections: The Prelims and The Finals. The top
    six teams qualify into the finals, which will have
    four rounds in the regular Bounce and Pounce
    approach. Winners receive prizes worth 8K.
    The quiz aims to increase the interest of
    students in science and technology right from
    the school level, and provide a fun filled oppor-
    tunity for the same.

</p>
        </div>
            
      </div>

  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
